/* global */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

.App {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'navbar navbar navbar navbar navbar'
    'aside app-add app-add app-add app-add'
    'aside app-note app-note app-note app-note';
}

.app-add {
  grid-area: app-add;
}
.app-note {
  grid-area: app-note;
}
.navbar {
  grid-area: navbar;
}
.aside {
  grid-area: aside;
}
