.card {
  padding: 0.8em;
  border-radius: 5px;
  min-width: 300px;
  border: 1px solid #b3b3b3;
  margin: 0.2em;
}

.cardRaised {
  padding: 0.8em;
  border-radius: 5px;
  min-width: 300px;
  /* border: 1px solid #b3b3b3; */
  margin: 0.2em;
  box-shadow: 3px 4px 15px 0px #b3b3b3;
}
